@font-face {
    font-family: lexend;
    src: url('utility/fonts/Lexend-VariableFont_wght.ttf')
}

nav {
    font-family: lexend, sans-serif;
}
body, nav, nav * {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}

nav {
    height: 100px;
    background-color: #F6F1F1;
    display: flex;
    align-items-center;
    justify-content: space-between;
    padding: 0 5%;
}
.nav-logo {
    font-size: 1.8rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.nav-menu {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}
.nav-menu-list {
    display: flex;
    justify-content: space-between;
}
.nav-menu-list li a {
    height: 40px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    margin: 0 10px;
    transition: 200ms ease;
}
.nav-menu-list li a:hover {
    color: blue;
}





.nav-menu-list-items-children {
    display: none;
}





/* nav * {
    border: 0.4px solid gray;
} */